@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900");
body {
    margin: 0;
    font-family:
        "Inter",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--primary);
    cursor: default;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.simple-keyboard .hg-button {
    height: 60px !important;
    font-size: 1.5rem !important;
    padding: 1rem 1.5rem !important;
}

.dropdown-up {
    position: absolute;
    top: auto !important; /* ignore Bootstrap’s default top */
    bottom: calc(100% + 4px); /* 4 px gap – tweak to taste */
    left: 0;
    z-index: 1051; /* higher than the keyboard */
}
